$enable-caret:              true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;
$enable-print-styles:       true;

$font-family-youtube: Roboto, Arial, sans-serif;
$font-family-base:            $font-family-youtube;

$font-size-base: 0.8rem;

$headings-line-height:        1.2 !default;
