{{ define "main" }}
{{/* $paginator := .Paginate (.Pages) */}}
{{/* range $paginator.Pages */}}
{{/*.Title*/}}
{{/*end*/}}

<div class="container">
    <h1>{{.Title}}</h1>
    
    {{ .Content | markdownify }}
    {{/* $sectionPages := where .Data.pages.Pages "Section" .Section */}}

    {{ $sectionPages := .Data.Pages }}
    {{ if ge (len $sectionPages) 1 }}
    <div class="row gallery">
	
	{{ range $sectionPages }}
	{{ .Render "summary"}}
	{{ end }}
    </div>
    {{ end }}

    {{range $section, $taxonomy:=.Sections}}
    {{$section}}-{{$taxonomy}}
    
    <h4><a class="nodecor" href="{{$taxonomy.Permalink}}">{{ $taxonomy.Title }}</a></h4>
    <div class="row gallery">
	{{ range $taxonomy.Pages }}
	{{ .Render "summary"}}
	{{ end }}
    </div>
    {{end}}


</div> <!-- main container -->
{{ end }}
