{{ define "main" }}
<article class="container single">
    <div class="row">
	<div class="col-lg-7">
	    {{ partial "single/media.html" . }}
	    <h1>{{.Params.title}}</h1>
	    <div class="meta">
		<div>
		    {{- with .Params.author -}}.{{ end }}
		    {{ partial "share.html" .}}
		    <p>
			{{- with .Params.description -}}.{{end}}
		    </p>
		</div>
		{{.Content}}
	    </div>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
	    </div>
	</div>
	<div class="col-lg-5">
	    {{ partial "related.html" . }}
	</div>
    </div>
</article>
{{ end }}
