<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{.Site.BaseURL}}">{{.Site.Params.brand}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	    {{ $currentPage := . }}

	    {{ range .Site.Menus.main }}

	    {{ if .HasChildren }}
	    <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    {{ .Pre }}
		    <span>
			{{.Name}}
		    </span>
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		    {{ range .Children }}
		    <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
		    {{ end }}
		</div>
	    </li>
	    {{else}}
	    <li class="nav-item {{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
		<a class="nav-link" href="{{.URL}}">{{.Pre|emojify}}<span>{{.Name}}</span> {{if $currentPage.HasMenuCurrent "main" . }}<span class="sr-only">({{ i18n "current"}})</span>{{end}}</a>
	    </li>
	    {{end}}
	    {{end}}
	</ul>
    </div>
</nav>
